/* Стили для основного логотипа */
.primary-logo {
    display: block; /* По умолчанию отображаем основной логотип */
}

/* Стили для альтернативного логотипа */
.secondary-logo {
    display: none; /* По умолчанию скрываем альтернативный логотип */
}

/* Медиа-запрос для устройств с шириной экрана менее 768px (мобильные устройства) */

.phone-number {
    font-size: 20px;
}
.carousel-caption h5,
.carousel-caption p {
    color: #000;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    filter: invert(100%); /* Инвертируем цвет иконок */
}

.carousel-control-prev,
.carousel-control-next {
    color: #000;
}

.carousel-indicators button {
    background-color: rgba(166, 232, 232, 0.36); /* Цвет неактивной кнопки */
    border-color: #000; /* Цвет обводки неактивной кнопки */
}

/* Активная кнопка индикатора */
.carousel-indicators button.active {
    background-color: #49A8A8; /* Цвет активной кнопки */
}

.card {
    border: none;
}


.card-hover {
    transition: box-shadow 0.3s ease;
    box-shadow: 0 0 0 rgba(0,0,0,0); /* Начальное состояние без тени */
}
.card-hover:hover {
    box-shadow: 0 0 20px rgba(0,0,0,0.2); /* Тень при наведении */
}
.custom-link {
    color: black;
    text-decoration: none; /* Убираем подчеркивание у ссылки */
    transition: color 0.3s ease; /* Добавляем плавную анимацию для смены цвета */
}

.custom-link:hover {
    color: #49A8A8; /* Цвет ссылки при наведении на неё */
}


.nav-link-bread {
    display: inline;
}



/*Медиа контент*/
@media (max-width: 1199px) {
    #carouselExampleCaptions .carousel-caption {
        font-size: smaller; /* Уменьшение размера шрифта */
    }
    #carouselExampleCaptions .btn {
        font-size: smaller; /* Уменьшение размера кнопок */
        padding: 0.25rem 0.5rem; /* Уменьшение отступов у кнопок */
    }
}
@media (max-width: 1335px) {
    #carouselExampleCaptions .carousel-caption {
        font-size: smaller; /* Уменьшение размера шрифта */
    }
    #carouselExampleCaptions .btn {
        font-size: smaller; /* Уменьшение размера кнопок */
        padding: 0.15rem 0.25rem; /* Уменьшение отступов у кнопок */
    }
}

@media (max-width: 768px) {
    /* Скрываем основной логотип на мобильных устройствах */
    .primary-logo {
        display: none;
    }

    /* Отображаем альтернативный логотип на мобильных устройствах */
    .secondary-logo {
        display: block;
    }
}
