/* Стили для основного логотипа */
.primary-logo {
    display: block; /* По умолчанию отображаем основной логотип */
}

/* Стили для альтернативного логотипа */
.secondary-logo {
    display: none; /* По умолчанию скрываем альтернативный логотип */
}

/* Медиа-запрос для устройств с шириной экрана менее 768px (мобильные устройства) */
@media (max-width: 768px) {
    /* Скрываем основной логотип на мобильных устройствах */
    .primary-logo {
        display: none;
    }

    /* Отображаем альтернативный логотип на мобильных устройствах */
    .secondary-logo {
        display: block;
    }
}
